@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;


.logoIcon {
  width: 26px;
  height: 26px;
  background: $color-primary-dim;
  border: 1px solid rgba(0, 208, 132, 0.3);
  border-radius: $radius-md;
  @include flex-center;
  flex-shrink: 0;
}