@use '../abstracts/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $color-text-primary;
  background: $color-bg-base;
  line-height: $line-height-normal;
}